/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#Homewrapper {
  background-color: blue;
  padding: 5px;
  text-align: center;
  width: 100vw;
}

body {
  background-image: url("src/assets/background.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover !important;
  /*z-index: -1;*/
  -webkit-transform: translate3d(0, 0);
  width: 100%;
  height: 100%;
  margin: 0 auto;

}

#wrapper {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.86);
  min-height: 500vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 2rem;

}
