<div id="wrapper">
  <div class="container">
    <h1 class="text-center">Account</h1>
    <div class="row">
      <div class="col-md-4 mt-1">
        <div class="card text-center sidebar">
          <div class="card-body">
            <img src="assets/profile.png" class="rounded-circle" width="150" height="150">
            <div class="mt-3">
              <h3>Jeroen</h3>
              <hr>
              <hr>
              <a href="/account">Account Instellingen</a>
              <hr>
              <a href="/account">Logout</a>
              <hr>
              <a id="clickBlue">blue</a>
              <hr>
              <a id="clickGreen">green</a>
              <hr>
              <a id="clickYellow">yellow</a>
              <hr>
              <a id="clickRed">red</a>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-1">
        <div class="card mb-3 content">
          <h1 class="m-3 pt-3">About</h1>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h5>Full Name</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>Jeroen Maassen van den Brink</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Gebruikersnaam</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>jcmvdb</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Email</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>mvdb.jeroen@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 content">
          <h1 class="m-3">laatst toegevoegde recept</h1>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h5>naam</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>pasta 1</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>category</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>hoofdgerechten</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>...</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>...</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>...</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>...</p>
              </div>
            </div>
          </div>
        </div>


<!--    About    -->
        <div id="blueDiv" class="card mb-3 content blue changeableDiv">
          <h1 class="m-3 pt-3">About</h1>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h5>Full Name</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>Jeroen Maassen van den Brink</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Gebruikersnaam</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>jcmvdb</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Email</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <p>mvdb.jeroen@gmail.com</p>
              </div>
            </div>
          </div>
        </div>




        <div id="greenDiv" class="card mb-3 content green changeableDiv notShow">
          <h1>green</h1>
        </div>
        <div id="yellowDiv" class="card mb-3 content yellow changeableDiv notShow">
          <h1>yellow</h1>
        </div>
        <div id="redDiv" class="card mb-3 content red changeableDiv notShow">
          <h1>red</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  console.log($);
</script>
